easydict==1.10
fairscale==0.4.4
imageio
jsonlines==2.0.0
lmdb==1.4.1
matplotlib
more_itertools==10.1.0
msgpack_numpy==0.4.8
msgpack_python==0.5.6
networkx==2.5.1
numpy==1.26.4
openai==2.32.0
opencv_python==4.7.0.72
pandas
Pillow==11.1.0
progressbar33==2.4
psutil==5.9.4
PyQt5==5.15.11
PyYAML==6.0.1
requests==2.25.1
scipy==1.13.1
sentencepiece==0.1.99
shapely==2.0.1
timm==0.4.12
tqdm==4.64.1
transformers==4.37.0
